<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d00a-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d00a-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d00b-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d00b-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d01a-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d01a-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d01b-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d01b-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d01c-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d01c-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d02a-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d02a-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d02b-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d02b-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d03a-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d03a-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d03b-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d03b-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d04a-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d04a-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d04b-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d04b-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d05a-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d05a-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d05b-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d05b-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d06a-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d06a-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d06b-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d06b-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d07a-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d07a-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d07b-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d07b-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d08a-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d08a-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d08b-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d08b-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d09a-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d09a-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d09b-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d09b-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d93a-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d93a-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d94a-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d94a-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d94b-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d94b-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d95a-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d95a-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d95b-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d95b-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d96a-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d96a-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d96b-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d96b-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d97a-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d97a-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d97b-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d97b-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d98a-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d98a-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d98b-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d98b-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d99a-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d99a-mapping/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d99b-mapping-1.4.jar" mvn_uri="mvn:org.milyn.edi.unedifact/d99b-mapping/1.4" 
              required="true">
      </libraryNeeded>
   </extension>
</plugin>
